<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>

{%block stylesheets%}
	{% stylesheets '@AcmeHelloBundle/Resources/public/style.css' %}
	<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
	{% endstylesheets %}
{%endblock%}

{%block javascripts%}
	{% javascripts '@AcmeHelloBundle/Resources/public/javascript.js' %}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{%endblock%}



<div id="top-hdr-adv-searchpage">
	<b><p align= "left"><a href="{{path('newaddress_page')}}"><font color="white">Home</b></font></a></p> </b>
</div>


<body>

<div id="container1">
	<div id="top1">
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    Welcome Back {{ app.user.username }} !
    <a href="{{path('fos_user_security_logout')}}">Logout</a>
		
		
		
	</div>
 
	<div id="leftnav1">
                    
		<p><a href="">All Users</a></p>
		<p><a href="{{path('blockuser_page')}}">Blocked Users</a></p>
                <p><a href="{{path('adminads_page')}}">All Posters </a></p>
		<p><a href="{{path('adminnewposter_page')}}">Create Ads</a></p>
		<p><a href="{{path('adminmaps_page')}}">Site Info</a></p>
		
		
	</div>
	<div id="content1">
		<h2>Control Panel</h2>
		
                <form action="{{path('adminusers_page')}}" method="POST">
                <fieldset>
                <legend>Search User or Posters</legend>
                Email:
                <input type="text" name="srchemail" placeholder="Email">
                <br>
                Username:
                <input type="text" name="srchname" placeholder="Username">
                <br>
                <input type="submit" name="btnsrchuser" value="Search User">
                </fieldset>
                </form>
		
                
               
	</div>
	{% else %}
		<div id="content1">
		<p><a href="{{path('admin_page')}}">Please Login as admin</a>
			</p>
	</div>
	{%endif%}
	<div id="footer1">
		<p align ="center"> Zufung .com</p>
	</div>
</div>

</body>
