<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>

{%block stylesheets%}
	{% stylesheets '@AcmeHelloBundle/Resources/public/style.css' %}
	<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
	{% endstylesheets %}
{%endblock%}

{%block javascripts%}
	{% javascripts '@AcmeHelloBundle/Resources/public/javascript.js' %}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{%endblock%}



<div id="top-hdr-adv-searchpage">
	<b><p align= "left"><a href="{{path('newaddress_page')}}"><font color="white">Home</b></font></a></p></b>
</div>


<body>
<div id="container1">
	<div id="top1">
		<h1>Welcome Admin!</h1>
	</div>
 
	<div id="leftnav1">
		<p><a href="{{path('Administrator_page')}}">Main Page</a></p>
		<p><a href="{{path('Alluser_page')}}">All Users</a></p>
		
		<p><a href=#>Sign-out</a></p>
	</div>
	
	<div id="content1">
		<h2>User Activity :</h2>
		<p>
		
	<div id="main-container">
	{% for q in qutube %}
	<div id="mini-block-vdo">
		{% if vmsg=='youtube' %}
				
				<iframe width="420" height="345" src="http://www.youtube.com/embed/{{q}}"></iframe>
				{% elseif vmsg=='0' %}
					{%else%}
						<iframe width="420" height="345" src="{{asset(vedio)}}"></iframe>
					<h1> No vedio found !!</h1>	
				{% endif %}
			<p></p>
	</div>
{% endfor %}

{% for a in utubelink_id %}	
	<div id="mini-block-vdo-delete1">
		{{a.status}}
		<p>	
			<a align="center" href="{{path('deactivate_vdo_page',{'id':a.id})}}" height="16" width="16">Dectivate</a>
		</p>
		<p>
			<a align="center" href="{{path('activate_vdo_page',{'id':a.id})}}" height="16" width="16">Activate</a>
		</p>
	</div>
{% endfor %}
    
	</div>
	<p>
		Notes: Status : 0 is not viewable to public nor to owner. Status :1 is viewable to both owner and public. To change statuse, click Activate/Deactivate.
	</p>
	</div>
		
	<div id="footer1">
		<p align ="center"> Zufung .com</p>
	</div>
</div>

</body>
