<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>

{%block stylesheets%}
	{% stylesheets '@AcmeHelloBundle/Resources/public/style.css' %}
	<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
	{% endstylesheets %}
{%endblock%}

{%block javascripts%}
	{% javascripts '@AcmeHelloBundle/Resources/public/javascript.js' %}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{%endblock%}



<div id="top-hdr-adv-searchpage">
	<b><p align= "left"><a href="{{path('newaddress_page')}}"><font color="white">Home</b></font></a></p></b>
</div>


<body>
<div id="container1">
	<div id="top1">
		<h1>Welcome Admin!</h1>
	</div>
 
	<div id="leftnav1">
		<p><a href="{{path('Administrator_page')}}">Main Page</a></p>
		<p><a href="{{path('Alluser_page')}}">All Users</a></p>
		
		<p><a href=#>Sign-out</a></p>
	</div>
	
	<div id="content1">
		<h2>User Activity :</h2>
		<p>
	
	<form method="POST" action="member">
        <table width="500px">
                <tr>
					<td> Poster Number: {{ psnum }}
					<td>Thumbnils</td>
					<td>
					Status
					</td>
				</tr>
 
			{% for a in poster_id %}
			<tr align=center>
				<td style="border:1px solid black;border-collapse:collapse;">Image:</td>
				
				<td style="border:1px solid black;border-collapse:collapse;">
					<a href="{{path('original_size_image__page',{'img_id':a.id})}}">
					<img src="{{asset(a.path)}}" height="50" width="50" title="View full size Image">
					</a>
				</td>
				<td style="border:1px solid black;border-collapse:collapse;">
					{{a.status}}
					
				</td>
				<td style="border:1px solid black;border-collapse:collapse;">
					<a href="{{path('deactivate_picture_page',{'id':a.id})}}" height="16" width="16"> Deactivate</a>
				</td>
				<td style="border:1px solid black;border-collapse:collapse;">
					<a href="{{path('activate_picture_page',{'id':a.id})}}" height="16" width="16"> Activate</a>
				</td>
			</tr>
		{% endfor %}
				
			<tr>
			<td>
			<p>Status : 0 means this picture is not viewable to public and to poster owner.</p>
			<p>Status : 1 means this picture is not viewable to public and to poster owner.</p>
			</td>
			</tr>	
			
		</table>
	</form>
		</p>
	</div>
		
	<div id="footer1">
		<p align ="center"> Zufung .com</p>
	</div>
</div>

</body>
