<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>

{%block stylesheets%}
	{% stylesheets '@AcmeHelloBundle/Resources/public/style.css' %}
	<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
	{% endstylesheets %}
{%endblock%}

{%block javascripts%}
	{% javascripts '@AcmeHelloBundle/Resources/public/javascript.js' %}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{%endblock%}



<div id="top-hdr-adv-searchpage">
	<b><p align= "left"><a href="{{path('newaddress_page')}}"><font color="white">Home</b></font></a></p> </b>
</div>


<body>
<div id="container1">
	<div id="top1">
		<h1>Welcome Admin!</h1>
	</div>
 
	<div id="leftnav1">
		<p><a href="{{path('Administrator_page')}}">Main Page</a></p>
		<p><a href="{{path('Alluser_page')}}">All Users</a></p>
		
		<p><a href=#>Sign-out</a></p>
	</div>
	
	<div id="content1">
		<h2>Select User to Un-block to Access resources:</h2>
		<p>
	
		<form method="POST" action="blockuser">
			<table width="500px">
				<tr>
					<td>Access Code</td>
					<td>
						Status
					</td>
					<td>
						Change Status
					</td>
				
				
				</tr>
				{% for a in user_list %}
				<tr>
					<td>
						{{ a.code}}
					</td>
					<td>
						
						{{ a.active}}
					</td>
					
					<td>
						<a href="{{path('activated_page',{'id':a.id})}}">Activate</a>
					</td>
						
	
					
				</tr>
				{% endfor %}
				<tr>
					{% set count = 0 %}	
							{% for a in user_list %}
								{% set count = count + 1 %}		
							{% endfor %}
									
					<td>Total User : {{ count }} Blocked</td>
				
				</tr>      
			
			</table>
		</form>
		</p>
		<p>
			Notes: Status : 0 means user can't access any resources of this website, 
			based on user request, if you can active by clicking "Activate" link.
		</p>
	</div>
		
	<div id="footer1">
		<p align ="center"> Zufung .com</p>
	</div>
</div>

</body>
